body {
    background: linear-gradient(to bottom, #000000, #174369);
    font-family: "ROBOTO", sans-serif;
    color: #4f7794;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-content: center;
}

a {
    color: #5984a5;
}
a:hover {
    color: #000000;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-weight: bold;
    transition-duration: 1s;
}

button {
    background-color: #0f283f9c;
    border: #1d4d774d, solid, 5px;
    border-radius: 5px;
    color: #4f7794;
}

.border {
    background-color: #0f283f9c;
    border: #1d4d774d, solid, 5px;
    border-radius: 5px;
    margin-top: 15px;
    color: #4f7794;
}

nav {
    margin-top: 5px;
}

small{
    margin-top: 15px;
}

#discord {
    width: 5%;
    height: inherit;
    padding-top: 1%;
}

#roblox {
    width: 3.5%;
    height: inherit;
    padding-bottom: .7%;
}

#backgroundimg {
    z-index: -2;
    position: fixed;
    width: -webkit-fill-available;
    height: inherit;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #1D4D77;
    border-radius: 5px;
}

* {
    scrollbar-color: #1D4D77 #000000;
}
